* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  text-align: center;
  background-color: #fefbf6;
}

#heading {
  margin-top: 20px;
  font-size: 5vmin;
  color: #000;
}

.choices {
  margin-top: 11vmin;
  display: flex;
  justify-content: center;
  gap: 25vmin;
}

.choice:hover {
  cursor: pointer;
  opacity: 0.3;
  border: 2.5px solid #000000;
  border-radius: 25%;
}

.choice img {
  border-radius: 25%;
  height: 35vmin;
  width: 25vmin;
  object-fit: cover;
  border: 0.2px solid #000000;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.score-card {
  font-size: 3vmin;
  margin-top: 7vmin;
  display: flex;
  justify-content: space-evenly;
  padding: 0 0 10vmin;
}

.user,
.comp {
  background-color: #ccd3ca;
  padding: 2rem;
  width: 10%;
  border-radius: 20px;
  border: 0.2px solid #000000;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

#user-score{
  font-size: 3rem
}

#comp-score{
  font-size: 3rem
}

.msg-container {
  display: flex;
  justify-content: center;
}

#msg {
  font-size: 3vmin;
  margin-top: 2rem;
  line-height: 2rem;
  background-color: #ccd3ca;
  border: 0.2px solid #000000;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 30px;
  width: 80vmin;
  height: 2rem;
}
